{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Main Container -->
    <main id="main-container">

    <!-- Hero -->
        <div class="bg-body-light">
            <div class="content content-full">
                <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
                    <h1 class="flex-grow-1 fs-3 fw-semibold my-2 my-sm-3">Positions</h1>

                    <button class="btn btn-primary" data-toggle="layout" data-action="side_overlay_open">Add Position</button>
                </div>
            </div>
        </div>    
        <!-- END Hero -->
        <div class="content">
            {% if positions %}
                <div class="row items-push align-items-stretch" id="positions-list">
                    {% for position in positions %}
                        <div class="col-sm-6 col-md-4  col-xl-3 ">
                            <div class="block block-rounded mb-0 h-100">
                                <div class="block-content block-content-full d-flex justify-content-between align-items-center flex-grow-1">
                                    <div class="me-3">
                                        <p class="fs-lg fw-bold mb-0">
                                            {{ position.name }}
                                        </p>
                                        <p class="text-muted mb-0">
                                            {{ position.employee_count }} Employee
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="d-flex flex-column align-items-center mt-5 gap-3">
                    <h1>No Positions Available, Add One !</h1>
                    <i class="fa fa-search-minus" style="font-size: 8rem; opacity: 0.5">  </i>
                </div>
            {% endif %}
        </div>
    </main>
    <!-- END Main Container -->
{% endblock %}
{% block plugins-js %}
    <script src="{% static 'assets/js/lib/jquery.min.js' %}"></script>
{% endblock %}
{% block page-js %}
    <script>
        Dashmix.layout('side_overlay_open');
    </script>
    <script src="{% static 'assets/_js/my_pages/add_position_ajax.js' %}"></script>
{% endblock %}
{% block sidebar_overlay %}
    {% include 'sidebar_overlay_add_position.html' with positions=positions %}
{% endblock %}