{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
    <!-- Main Container -->
    <main id="main-container">

        <!-- Hero -->
        <div class="bg-body-light">
            <div class="content content-full">
                <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
                    <h1 class="flex-grow-1 fs-3 fw-semibold my-2 my-sm-3">Leave Types</h1>
                    <nav class="flex-shrink-0 my-2 my-sm-0 ms-sm-3" aria-label="breadcrumb">
                       <button class="btn btn-primary" data-toggle="layout" data-action="side_overlay_open">
                                Add Leave Types
                            </button>
                    </nav>
                </div>
            </div>
        </div>
        <!-- END Hero -->

        <!-- Page Content -->
        <div class="content">
            {% if leave_types %}

                <!-- Full Table -->
                <div class="block block-rounded">

                    <div class="block-content">

                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-vcenter">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Days Allocated</th>
                                    <th>Gender Restriction</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for leave_type in leave_types %}
                                    <tr>
                                        <td>{{ leave_type.name }}</td>
                                        <td>{{ leave_type.description }}</td>
                                        <td>{{ leave_type.days_allocated }}</td>
                                        <td>{{ leave_type.gender_restriction }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <!-- First and Previous -->
                                    {% if leave_types.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page=1">
                                                <i class="fa fa-angle-double-left"></i>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ employees.previous_page_number }}">
                                                <i class="fa fa-angle-left"></i>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="page-item">
                                            <a class="page-link disabled" href="#">
                                                <i class="fa fa-angle-double-left"></i>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link disabled" href="#">
                                                <i class="fa fa-angle-left"></i>
                                            </a>
                                        </li>
                                    {% endif %}

                                    {% for num in leave_types.paginator.page_range %}
                                        {% if num > leave_types.number|add:-3 and num < leave_types.number|add:3 %}
                                            {% if num == leave_types.number %}
                                                <li class="page-item active"><a class="page-link">{{ num }}</a></li>
                                            {% else %}
                                                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                            {% endif %}
                                        {% elif num == 1 or num == leave_types.paginator.num_pages %}
                                            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                        {% elif num == leave_types.number|add:-3 or num == leave_types.number|add:3 %}
                                            <li class="page-item"><a class="page-link"><span>...</span></a></li>
                                        {% endif %}
                                    {% endfor %}
                                    <!-- Next and Last -->
                                    {% if leave_types.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ leave_types.next_page_number }}">
                                      <span aria-hidden="true">
                                        <i class="fa fa-angle-right"></i>
                                      </span>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ leave_types.paginator.num_pages }}">
                                      <span aria-hidden="true">
                                        <i class="fa fa-angle-double-right"></i>
                                      </span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="page-item">
                                            <a class="page-link disabled" href="#">
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link disabled" href="#">
                                                <i class="fa fa-angle-double-right"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>

                            </nav>
                        </div>
                    </div>
                </div>
                <!-- END Full Table -->
            {% else %}
                <div class="d-flex flex-column align-items-center mt-5 gap-3">
                    <h1>No Leave Leave Type Available, Add One !</h1>
                    <i class="fa fa-search-minus" style="font-size: 8rem; opacity: 0.5"> </i>
                </div>
            {% endif %}
        </div>
        <!-- END Page Content -->
    </main>
    <!-- END Main Container -->
{% endblock %}
{% block plugins-js %}
	<script src="{% static 'assets/js/lib/jquery.min.js' %}"></script>
{% endblock %}
{% block page-js %}
	<script>
        Dashmix.layout('side_overlay_open')
    </script>
    <script src="{% static 'assets/_js/my_pages/add_department_ajax.js' %}"></script>
{% endblock %}
{% block sidebar_overlay %}
	{% include 'sidebar/sidebar_overlay_add_leave_type.html' %}
{% endblock %}