        {% load static %}
<nav id="sidebar" aria-label="Main Navigation">
    <!-- Side Header -->
    <div class="bg-header-dark">
        <div class="content-header bg-white-5">
            <!-- Logo -->
            <a class="fw-semibold text-white tracking-wide" href="#">
                <img width="120" src="{% static 'assets/media/logos/logo-horizontal-white.png' %}"/>
            </a>
            <!-- END Logo -->

            <!-- Options -->
            <div>
                <!-- Toggle Sidebar Style -->
                <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                <!-- Class Toggle, functionality initialized in Helpers.dmToggleClass() -->
                <button type="button" class="btn btn-sm btn-alt-secondary" data-toggle="class-toggle" data-target="#sidebar-style-toggler" data-class="fa-toggle-off fa-toggle-on"
                        onclick="Dashmix.layout('sidebar_style_toggle');Dashmix.layout('header_style_toggle');"><i class="fa fa-toggle-off" id="sidebar-style-toggler"></i></button>
                <!-- END Toggle Sidebar Style -->

                <!-- Dark Mode -->
                <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                <button type="button" class="btn btn-sm btn-alt-secondary" data-toggle="class-toggle" data-target="#dark-mode-toggler" data-class="far fa"
                        onclick="Dashmix.layout('dark_mode_toggle');"><i class="far fa-moon" id="dark-mode-toggler"></i></button>
                <!-- END Dark Mode -->

                <!-- Close Sidebar, Visible only on mobile screens -->
                <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                <button type="button" class="btn btn-sm btn-alt-secondary d-lg-none" data-toggle="layout" data-action="sidebar_close"><i class="fa fa-times-circle"></i></button>
                <!-- END Close Sidebar -->
            </div>
            <!-- END Options -->
        </div>
    </div>
    <!-- END Side Header -->

    <!-- Sidebar Scrolling -->
    <div class="js-sidebar-scroll">
        <!-- Side Navigation -->
        <div class="content-side">
            <ul class="nav-main">
                <li class="nav-main-item">
                    <a class="nav-main-link {% if request.path == '/' %}active{% endif %}" href="gs_backend.html">
                        <i class="nav-main-link-icon fa fa-rocket"></i>
                        <span class="nav-main-link-name">Dashboard</span>
                        <span class="nav-main-link-badge badge rounded-pill bg-primary">3</span>
                    </a>
                </li>
                <li class="nav-main-item">
                    <a class="nav-main-link {% if request.path == '/calendar/' %}active{% endif %}" href="#">
                        <i class="nav-main-link-icon fa fa-calendar"></i>
                        <span class="nav-main-link-name">Calendar</span>
                    </a>
                </li>
                <li class="nav-main-heading">Leaves</li>
                <li class="nav-main-item">
                    <a class="nav-main-link {% if request.path == '/leave_requests/' %}active{% endif %}" href="{% url 'leave_requests' %}">
                        <i class="nav-main-link-icon fa fa-puzzle-piece"></i>
                        <span class="nav-main-link-name">Leaves</span>
                    </a>
                </li>
                <li class="nav-main-item">
                    <a class="nav-main-link {% if request.path == '/add_leave/' %}active{% endif %}" href="{% url 'add_leave' %}">
                        <i class="nav-main-link-icon fa fa-add"></i>
                        <span class="nav-main-link-name">Add Leave</span>
                    </a>
                </li>
                <li class="nav-main-heading">Employees</li>
                <li class="nav-main-item">
                    <a class="nav-main-link {% if request.path == '/employees/' %}active{% endif %}" href="{% url 'employees' %}">
                        <i class="nav-main-link-icon fa fa-puzzle-piece"></i>
                        <span class="nav-main-link-name">Employees</span>
                    </a>
                </li>
                <li class="nav-main-item">
                    <a class="nav-main-link {% if request.path == '/add_employee/' %}active{% endif %}" href="{% url 'add_employee' %}">
                        <i class="nav-main-link-icon fa fa-add"></i>
                        <span class="nav-main-link-name">Add Employee</span>
                    </a>
                </li>
                <li class="nav-main-heading">Configuration</li>
                <li class="nav-main-item">
                    <a class="nav-main-link {% if request.path == '/positions/' %}active{% endif %}" href="{% url 'positions' %}">
                        <i class="nav-main-link-icon fa fa-briefcase"></i>
                        <span class="nav-main-link-name">Job Positions</span>
                    </a>
                </li>
                <li class="nav-main-item">
                    <a class="nav-main-link {% if request.path == '/departments/' %}active{% endif %}" href="{% url 'departments' %}">
                        <i class="nav-main-link-icon fa fa-building"></i>
                        <span class="nav-main-link-name">Departments</span>
                    </a>
                </li>
                <li class="nav-main-item">
                    <a class="nav-main-link {% if request.path == '/leave_types/' %}active{% endif %}" href="{% url 'leave_types' %}">
                        <i class="nav-main-link-icon fa fa-calendar-days"></i>
                        <span class="nav-main-link-name">Leave Types</span>
                    </a>
                </li>


            </ul>
        </div>
        <!-- END Side Navigation -->
    </div>
    <!-- END Sidebar Scrolling -->
</nav>
