{% extends "pages/base.html" %}
{% block content %}
 <main id="main-container">

    {% comment %} Hero {% endcomment %}
    <div class="bg-body-light">
      <div class="content content-full">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
          <h1 class="flex-grow-1 fs-3 fw-semibold my-2 my-sm-3">Overview</h1>
          <nav class="flex-shrink-0 my-2 my-sm-0 ms-sm-3" aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-alt">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">Dashboard</a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">Account</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Current</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
    {% comment %} END Hero  {% endcomment %}

    {% comment %} Page Content  {% endcomment %}
    <div class="content">
        
    </div>
    {% comment %} END Page Content  {% endcomment %}
  </main>
{% endblock content %}