{% load static %}
<aside id="side-overlay">
    <!-- Side Header -->
    <div class="content-header">
        <h2 class="content-heading">Add Leave Type</h2>
        <button class="btn btn-sm btn-outline-secondary">
            <i class="fa fa-fw fa-xmark"></i>
        </button>
    </div>
    <!-- END Side Header -->

    <!-- Side Content -->
    <div class="content-side">
        <!-- Side Overlay Tabs -->
        <div class="block block-transparent pull-x pull-t">
            <div class="px-3 my-3">
                <form id="leave-type-form" data-url="{% url 'add_leave_type' %}">
                    <div class="mb-4">
                        <label for="leave-type-name" class="form-label">Name</label>
                        <input id="leave-type-name" class="form-control" type="text" placeholder="leave type name" name="leave_type_name" required/>
                    </div>
                    <div class="mb-4">
                        <label for="leave-type-description" class="form-label">Description</label>
                        <textarea id="leave-type-description" class="form-control" type="text" placeholder="leave type description" name="leave_type_description"></textarea>
                    </div>
                    <div class="mb-4">
                        <label for="leave-type-days-allocated" class="form-label">Days Allocated</label>
                        <input type="number" class="form-control" id="leave-type-days-allocated" name="leave_type_days_allocated" required/>
                    </div>
                    <div class="mb-4">
                        <label class="form-label">Gender Restriction</label>
                        <div class="space-y-2">
                            <div class="form-check">
                                <input
                                    class="form-check-input"
                                    type="radio"
                                    id="gender-any"
                                    name="leave_type_gender"
                                    value="any"
                                    checked/>
                                <label
                                    class="form-check-label"
                                    for="gender-male">
                                    Any
                                </label>
                            </div>
                            <div class="form-check">
                                <input
                                    class="form-check-input"
                                    type="radio"
                                    id="gender-male"
                                    name="leave_type_gender"
                                    value="male"
                                    />
                                <label
                                    class="form-check-label"
                                    for="gender-male">
                                    Male
                                </label>
                            </div>
                            <div class="form-check">
                                <input
                                    class="form-check-input"
                                    type="radio"
                                    id="gender-female"
                                    name="leave_type_gender"
                                    value="female"
                                    />
                                <label
                                    class="form-check-label"
                                    for="gender-female">
                                    Female
                                </label>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-alt-primary w-100 my-3" type="submit">Submit</button>
                </form>
            </div>
        </div>
        <!-- END Side Overlay Tabs -->
    </div>
    <!-- END Side Content -->
</aside>