{% extends 'base.html' %}
{% load static %}
{% block plugins-css %}
    {#    <link rel="stylesheet" href="{% static 'assets/js/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}">#}
    <link rel="stylesheet" href="{% static 'assets/js/plugins/flatpickr/flatpickr.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/js/plugins/select2/css/select2.min.css' %}">
{% endblock %}
{% block content %}
    <main id="main-container">
        <!-- Hero -->
        <div class="bg-body-light">
            <div class="content content-full">
                <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
                    <h1 class="flex-grow-1 fs-3 fw-semibold my-2 my-sm-3">Add Employee</h1>
                    <nav class="flex-shrink-0 my-2 my-sm-0 ms-sm-3" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">Layout</li>
                            <li class="breadcrumb-item">Page</li>
                            <li class="breadcrumb-item active" aria-current="page">Default</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- END Hero -->

        <!-- Page Content -->
        <div class="content">
            <!-- Personal Info -->
            <div class="block block-rounded">
                <div class="block-header block-header-default">
                    <h3 class="block-title">Personal Informations</h3>
                </div>
                <div class="block-content">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-8">
                            <form method="POST">
                                {#                                <div class="mb-4">#}
                                {#                                    <label class="form-label" for="employee-id">Employee ID</label>#}
                                {#                                    <span class="text-danger">*</span>#}
                                {#                                    <input type="text" class="form-control" id="employee-id">#}
                                {#                                </div>#}
                                <div class="mb-4">
                                    <label class="form-label" for="first-name">First name</label>
                                    <span class="text-danger">*</span>
                                    <input type="text" class="form-control" id="first-name">
                                </div>
                                <div class="mb-4">
                                    <label class="form-label" for="last-name">Last name</label>
                                    <span class="text-danger">*</span>
                                    <input type="text" class="form-control" id="last-name">
                                </div>
                                <div class="mb-4">
                                    <label class="form-label" for="example-flatpickr-default">Date de naissance</label>
                                    <input type="text" class="js-flatpickr form-control" id="example-flatpickr-default" name="example-flatpickr-default" placeholder="Y-m-d">
                                </div>
                                <div class="mb-4">
                                    <label class="form-label" for="email">Email</label>
                                    <input type="email" class="form-control" id="email">
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Gender</label>
                                    <div class="space-x-2">
                                        <div class="form-check form-check-inline">
                                            <input
                                                    class="form-check-input"
                                                    type="radio"
                                                    id="radio-male"
                                                    name="radio-gender"
                                                    value="male"
                                                    checked
                                            />
                                            <label
                                                    class="form-check-label"
                                                    for="radio-male"
                                            >Male</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input
                                                    class="form-check-input"
                                                    type="radio"
                                                    id="radio-female"
                                                    name="radio-gender"
                                                    value="female"
                                            />
                                            <label
                                                    class="form-check-label"
                                                    for="radio-female"
                                            >Female</label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Personal Info -->

            <!-- Personal Info -->
            <div class="block block-rounded">
                <div class="block-header block-header-default">
                    <h3 class="block-title">Personal Informations</h3>
                </div>
                <div class="block-content">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-8">
                            <form method="POST">
                                {#                                <div class="mb-4">#}
                                {#                                    <label class="form-label" for="employee-id">Employee ID</label>#}
                                {#                                    <span class="text-danger">*</span>#}
                                {#                                    <input type="text" class="form-control" id="employee-id">#}
                                {#                                </div>#}

                                {# Employee ID (auto suggest) -> Input Field #}
                                {# Department -> Dropdown #}
                                {# Position -> Dropdown + Ability to add it #}
                                {# Date Joined (optional) -> Date Picker #}
                                <div class="mb-4">
                                    <label class="form-label" for="employee-id">Employee ID</label>
                                    <span class="text-danger">*</span>
                                    <input type="text" class="form-control" id="employee-id">
                                </div>
                                <div class="mb-4">
                                    <label class="form-label" for="department">Department</label>
                                    <select class="js-select2 form-select" id="department" data-placeholder="Choose one..">
                                        <option></option><!-- Required for data-placeholder attribute to work with Select2 plugin -->
                                        <option value="1">HTML</option>
                                        <option value="2">CSS</option>
                                        <option value="3">JavaScript</option>
                                        <option value="4">PHP</option>
                                        <option value="5">MySQL</option>
                                        <option value="6">Ruby</option>
                                        <option value="7">Angular</option>
                                        <option value="8">React</option>
                                        <option value="9">Vue.js</option>
                                    </select>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label" for="example-flatpickr-default">Date de naissance</label>
                                    <input type="text" class="js-flatpickr form-control" id="example-flatpickr-default" name="example-flatpickr-default" placeholder="Y-m-d">
                                </div>
                                <div class="mb-4">
                                    <label class="form-label" for="email">Email</label>
                                    <input type="email" class="form-control" id="email">
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Gender</label>
                                    <div class="space-x-2">
                                        <div class="form-check form-check-inline">
                                            <input
                                                    class="form-check-input"
                                                    type="radio"
                                                    id="radio-male"
                                                    name="radio-gender"
                                                    value="male"
                                                    checked
                                            />
                                            <label
                                                    class="form-check-label"
                                                    for="radio-male"
                                            >Male</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input
                                                    class="form-check-input"
                                                    type="radio"
                                                    id="radio-female"
                                                    name="radio-gender"
                                                    value="female"
                                            />
                                            <label
                                                    class="form-check-label"
                                                    for="radio-female"
                                            >Female</label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Personal Info -->
        </div>
        <!-- END Page Content -->
    </main>
{% endblock %}
{% block plugins-js %}
    <!-- jQuery -->
    <script src="{% static 'assets/js/lib/jquery.min.js' %}"></script>

    <!-- Plugins -->
    {#    <script src="{% static 'assets/js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>#}
    <script src="{% static 'assets/js/plugins/flatpickr/flatpickr.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/select2/js/select2.full.min.js' %}"></script>
{% endblock %}
{% block page-js %}
    <script>Dashmix.helpersOnLoad(['js-flatpickr', 'jq-select2']);</script>
{% endblock %}