{% extends 'base.html' %}
{% block content %}
    <!-- Main Container -->
    <main id="main-container">

        <!-- Hero -->
        <div class="bg-body-light">
            <div class="content content-full">
                <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
                    <h1 class="flex-grow-1 fs-3 fw-semibold my-2 my-sm-3">Positions</h1>

                    <button class="btn btn-primary">Add Position</button>
                </div>
            </div>
        </div>
        <!-- END Hero -->
        <div class="content">
            <div class="row items-push align-items-stretch">
                {% for position in positions %}
                    <div class="col-sm-6 col-xl-3 ">
                        <div class="block block-rounded mb-0 h-100">
                            <div class="block-content block-content-full d-flex justify-content-between align-items-center flex-grow-1">
                                <div class="me-3">
                                    <p class="fs-lg fw-bold mb-0">
                                        {{ position.name }}
                                    </p>
                                    <p class="text-muted mb-0">
                                        {{ position.employee_count }} Employee
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>

        </div>
    </main>
    <!-- END Main Container -->
{% endblock %}