{% load static %}
<aside id="side-overlay">
    <!-- Side Header -->
    <div class="content-header">
        <h2 class="content-heading">Add Position</h2>
        <button class="btn btn-sm btn-outline-secondary">
            <i class="fa fa-fw fa-xmark"></i>
        </button>
    </div>
    <!-- END Side Header -->

    <!-- Side Content -->
    <div class="content-side">
        <!-- Side Overlay Tabs -->
        <div class="block block-transparent pull-x pull-t">
            <div class="px-3 my-3">
                <form>
                    <label for="position-name" class="form-label">Position name</label>
                    <input id="position-name" class="form-control" type="text" placeholder="position name" required/>
                    <button class="btn btn-alt-primary w-100 my-3" type="submit">Submit</button>
                </form>
            </div>
        </div>
        <!-- END Side Overlay Tabs -->
    </div>
    <!-- END Side Content -->
</aside>